@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
/* CSS */
.search-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  /* min-height: 60px; */
  min-width: 0;
  outline: none;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
  width: 80px;
  will-change: transform;
  margin-left: 2%;

}

.search-button:disabled {
  pointer-events: none;
}

.search-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.search-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  color: black;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  /* cursor: not-allowed; */
  cursor: pointer;

  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* To be removed later buttons for play/stop/pause */
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.buttons {
  margin-top: 0.5%;
}
.played {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
.stopped {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.paused {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}



.modal-blur {
  filter: blur(4px);
}

* {
  margin: 0;
  padding: 0;
  /* word-break: break-word; */
  /* font-family: "Yusei Magic", sans-serif; */
}

/* Remove? */
.Playground {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.App {
  flex: 1;
}

h1 {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

/* Home */

/* Spin */
.Project-Card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}
/* Are in the story */
.book {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1%;
}

.demoPage {
  background-color: #e0c49c;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Book-Pic {
  pointer-events: none;
  max-width: 100%;
}
/* Package component + Story*/
.Screen-Shot {
  height: 40vmin;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
}

/* Really!? */
li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style-type: none;
}

/* Witch */

.ProfileCard-Outer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: black; */
  padding: 1rem;
}

.ProfileCard {
  /* #dab66f --> #f4e5cb */
  background: linear-gradient(
    217deg,
    rgb(218, 182, 111),
    rgb(244, 229, 203) 70.71%
  );
  /* border-radius: 1rem; */
  border-style: solid;
  border-width: 10px;
  border-color: #512c31;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Seaweed Script", cursive;
  padding: 1rem;
  position: relative;
  color: black;
}

#Witch {
  width: 50%;
  height: 200px;
}

.Card-Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.Card-Left,
.Card-Right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.Card-Left {
  flex: 1;
}

.Card-Right {
  flex: 1;
}

.Card-Middle {
  width: 2px;
  background: black;
  height: 100%;
  position: absolute;
  right: 50%;
}

.Card-Font,
#Card-Font {
  font-family: "Seaweed Script", cursive;
  padding: 3px;
}

#CardTitle {
  padding: 10px;
  font-size: x-large;
}

/* Monad */
.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Monad {
  /* Replace with content! */
  color: black;
  margin-left: 4%;
  margin-right: 4%;
  font-size: large;
  overflow-x: none;
}

.Monad h3 {
  padding-top: 1rem;
  font-size: xx-large;
}

/* Fancy font */

#Fancy {
  font-family: "Seaweed Script", cursive;
  font-size: x-large;
}

.Footer-Button {
  font-size: 0.7rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  border-radius: 2rem;
  background: linear-gradient(
    217deg,
    rgb(218, 182, 111),
    rgb(244, 229, 203) 70.71%
  );
  border-color: #512c31;
  border-style: solid;
  border-width: 2px;
  font-size: large;
  color: black;
  cursor: pointer;

    position: fixed;
    bottom: 30px;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
}

/* Pop out images */

.popOut {
  display: none;
  max-width: 80vw;
}
.pop {
  color: blue;
  text-align: center;
  /* background-color: red; */
}
.pop:hover img {
  display: block;
  margin: auto;
}

/* drop down */

/* Dropdown Button */
.dropbtn {
  font-size: 0.7rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  border-radius: 2rem;
  background: linear-gradient(
    217deg,
    rgb(218, 182, 111),
    rgb(244, 229, 203) 70.71%
  );
  border-color: #512c31;
  border-style: solid;
  border-width: 2px;
  font-size: large;
  color: black;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  z-index: 10000;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  overflow-y: scroll;
  height: 50vh;
}
@media screen and (max-width: 650px) {
  .dropdown-content {
    right: 10%;
  }
}

/* Links inside the dropdown */
.dropdown-content-a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content-a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
.hide {
  display: none;
}

/* Note */

.Note {
  background-image: url(https://img.freepik.com/free-photo/crumpled-paper-background_1373-412.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 400px;
  padding: 10px;
}

/* Newspaper */

.Newspaper {
  max-width: 600px;
  background-image: url(https://img.freepik.com/free-photo/crumpled-paper-background_1373-412.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: black;
}

.Newspaper-Headline {
  margin-bottom: 1%;
}

#Headline {
  font-size: 400%;
  /* font-family: 'News Cycle', sans-serif; */
  font-family: ui-monospace;
  text-decoration: underline;
}
@media screen and (max-width: 550px) {
  #Headline {
  font-size: 200%;
  }
}

#Newspaper-Image {
  width: 90%;
  height: 100%;
  border-color: lightgray;
  border-style: solid;
  border-width: 0.1rem;
}

.Newspaper-Content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .Newspaper-Content {
    flex-direction: column;
  }
}

.Newspaper-Left,
.Newspaper-Right {
  flex: 1;
  padding: 0.3%;
  align-self: flex-start;
  margin: 3px;
}

#News,
#Small-Headline {
  /* font-family: 'News Cycle', sans-serif; */
  font-family: ui-monospace;
  margin-top: 3px;
  flex: 1;
  align-self: flex-start;
}


/* Blackjack */

.Blackjack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.Player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Buttons-BJ {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Hit,
.Stay {
  margin: 1vw;
  padding: 1vw;
  border-color: black;
  border-style: solid;
  border-radius: 2rem;
  background: white;
  color: black;
}

.Hit:hover,
.Stay:hover {
  margin: 1vw;
  padding: 1vw;
  border-color: black;
  border-style: solid;
  border-radius: 2rem;
  background: lightgray;
  color: black;
  cursor: pointer;
}

.Hit:active,
.Stay:active {
  margin: 1vw;
  padding: 1vw;
  border-color: black;
  border-style: solid;
  border-radius: 2rem;
  background: greenyellow;
  color: black;
}

.Player-Hand,
.Dealer-Hand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Players-Cards,
.Dealer-Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  width: 3vw;
  height: 10vh;
  padding: 0.5vw;
  border-color: black;
  border-radius: 0.5rem;
  border-style: solid;
  margin: 0.5rem;
  padding: 0 10px;
}

.Tree-Outer {
  max-width: 100vw;
  overflow-x: auto;
}

.BreakPoint {
  height: 1px;
  width: 90vw;
  margin: 1%;
  background: inherit;
  border-style: dotted;
  border-width: 0.2rem;
  border-radius: 0.3rem; 
}