
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
  margin: 0;
  padding: 0;
  word-break: break-word;
  font-family: 'Yusei Magic', sans-serif;
}

.Main {
  text-align: center;
  background: linear-gradient(0deg, rgba(34,89,195,0.7) 9%, rgba(45,253,209,0.3) 100%);
  /* background-color: #202040; */
  color: whitesmoke;
  min-height: 100vh;
}

.Main-Light {
  text-align: center;
  /* background: linear-gradient(0deg, rgba(34,89,195,1) 9%, rgba(45,253,209,1) 100%); */
  background-color: white;
  color: black;
}

.Glass-Outside {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Playground{
  display: flex;
  justify-content: space-around; 
  flex-direction: column;
}

.Tech-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
    height: 92vh;
}

.Glass {
  background: linear-gradient(0deg, rgba(255,255,255,0.6), rgba(255,255,255,0.3));
  min-height: 80vh;
  width: 60%;
  display: flex;  
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
}

.Circle1, .Circle2 {
  background: linear-gradient(0deg, rgba(255, 0, 221, 0.7), rgba(255,255,255,0.3));
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  z-index: 2;
}

.Circle1 {
  top: 10%;
  right: 15%;
}


.Circle2 {
  bottom: 5%;
  left: 15%;
}

.Right-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Box {
  /* border-style: solid; */
  cursor: pointer;
  color: black;
  background: linear-gradient(0deg, rgba(255,255,255,0.9), rgba(255,255,255,0.6));
  width: 85%;
  height: 25%;
  border-radius: 1rem;
  box-shadow: 6px 3px 3px rgb(58, 58, 58, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Box:active {
  box-shadow: 3px 1px 1px rgb(58, 58, 58, 0.1);
}

.Inner-Box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Links-List{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 40%;
  /* border-color: black;
  border-style: solid;  */
}

.Linky { 
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* align-items: left; */
  width: 100%;
}

.Link-Img {
  width: 20px;
  height: 20px;
  border-radius: 1rem;
  margin-right: 1rem;
}

.Home-Img {
  width: 20%;
  height: 70%;
  border-radius: 1rem;
  padding: 2px;
  margin: 1rem;
}

.Profile {
  /* background-color: white; */
  background: linear-gradient(0deg, rgba(255,255,255,0.9), rgba(255,255,255,0.5));
  border-radius: 1rem;
  flex: 1;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}

.Play-Box {
  /* border-color: black;
  border-style: solid; */
  color: white;
  background: #638ad4;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 53%;
  height: 10%;
}

.Play-Box a {
  color: white;
}

.Right-Wrapper {
  flex: 2;
}

.Logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.PlayTitles {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 4vh;
}

.Screen-Shot {
  height: 40vmin;
  pointer-events: none;
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .Circle1, .Circle2 {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.Main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav {
  min-height: 4vh;
  max-height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1vh;
  /* background-color: #602080; */
  /* background-color: #6a5acd; */
  background: #638ad4;
}

.Nav-Link {
  /* color: #b030b0; */
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.Profile-Img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.Project-Card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

.Container{
  display: flex;
  padding: 1vh;
  /* background-color: lightslategray; */
  flex-wrap: wrap;
}

.Top {
  display: flex;
}

.Bottom {
  display: flex;
}

.Inner-Container {
  background-color: #202060;
  border: white;
  border-style: solid;
  width: 100%;
}

.Tech {
  /* background-color: #202060; */
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.About {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.book {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1vh;
}

.demoPage {
  background-color: pink;
  display: flex;
  align-content: center;
  justify-content: center;
}

.book-no {
  color: #202040;
  padding: 1vh;
}

.Footer {
 max-width: 100%;
 max-height: 1px;
}


/* Cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  float: left;
  background-color: white;
  /* width: 18%; */
  height: 100%;
  margin: 5%;
  color: black;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardImg {
  padding: 5px;
  border-radius: 5px 5px 0 0;
  width: 120px;
  height: 100px;
}

.container {
  padding: 2px 16px;
}

#cardcontainer {
  background-color: transparent;
  overflow: hidden;
  width: 100%;
}

#inner {
  /* overflow: hidden; */
  width: 100%;
}

footer {
  height: 20px;
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

/* Tiny people */

@media only screen and (max-width: 880px) {
  .Nav {
    display: none;
  }
  .Home-p {
    display: none;
  }
  a {
    word-break: break-word;
  }
}

@media only screen and (max-width: 680px) {
  .Nav {
    display: none;
  }
  .Home-p {
    display: none;
  }
  .Link-Img {
    display: none;
  }
  a {
    word-break: break-word;
  }
}

@media only screen and (max-width: 590px) {
  .Nav {
    display: none;
  }
  .Home-p {
    display: none;
  }
  .Link-Img {
    display: none;
  }
  a {
    word-break: break-word;
  }
  .Home-Img {
    display: none;
  }
  .Profile {
    width: 100%;
  }
  .Right-Wrapper {
    display: none;
  }
}